.buttons {
    margin: 10px;
    justify-self: flex-end;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.buttons__button {
    border: none;
    background: none;
    color: rgb(0, 128, 128);
    font-size: 14pt;
    transition: 1s;
}

.buttons__button:hover {
    color: rgb(0, 188, 188);
}

.buttons__button:active {
    color: rgb(0, 48, 48);
}

.buttons__button:disabled {
    border: none;
    background: none;
    color: lightgray;
    font-size: 14pt;
}